body {
    height: 100vh;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #74ebd5, #9face6);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Main Card */
.weather-app {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    padding: 25px;
    width: 320px;
    border-radius: 16px;
    text-align: center;
    color: #fff;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}
.weather-app h2 {
    margin-bottom: 15px;
    font-size: 24px;}
/* Input */
input {
    width: 93%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
    margin-bottom: 12px;}
/* Button */
button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: #ff7a18;
    background: linear-gradient(to right, #ff7a18, #ffb347);
    color: #fff;
    font-size: 16px;}

/* Result Area */
.result {
    margin-top: 20px;
}

.result h3 {
    font-size: 22px;
    margin-bottom: 5px;
}

.result p {
    font-size: 18px;
    margin: 4px 0;
}
